[Desktop Entry]
Categories=AudioVideo;Audio;Player;GTK;
Comment=A Java Text to Speech Clipboard Reader with Exceptionable Features
Exec=jspeak
Icon=/usr/share/pixmaps/jspeak.png
Name=JSpeak
NoDisplay=false
Path[$e]=
StartupNotify=true
StartupWMClass=JSpeak
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
