*.class
build/
/dist/
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/checksums/checksums.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/7.0/fileHashes/fileHashes.lock
/.gradle/nb-cache/subprojects.ser
/.gradle/checksums/md5-checksums.bin
/.gradle/7.0/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.0/javaCompile/taskHistory.bin
/.gradle/7.0/executionHistory/executionHistory.lock
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/7.0/executionHistory/executionHistory.bin
/.gradle/7.0/fileHashes/fileHashes.bin
/.gradle/checksums/sha1-checksums.bin
/.gradle/7.0/javaCompile/javaCompile.lock
/.gradle/7.0/javaCompile/classAnalysis.bin
/.gradle/7.0/fileHashes/resourceHashesCache.bin
